server:
  port: 9000
spring:
  application:
    name: cards
  profiles:
    active: "qa"
  devtools:
    restart:
      enabled: true
  datasource:
    driver-class-name: org.h2.Driver
    #    jdbc-url: jdbc:h2:tcp://localhost:9092/~/test
    username: sa
    password: ''
    jdbc-url: jdbc:h2:mem:testdb
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    #    properties:
    #      hibernate:
    #        show_sql: true
    show-sql: true
  h2:
    console:
      enabled: true
  config:
    import: "optional:configserver:http://localhost:8071/"
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"
  #  cloud:
  #    config:
  #      uri: http://localhost:8071
  #      fail-fast: true
  #      retry:
  #        max-interval: 10000
  #        max-attempts: 2000

  management:
    endpoints:
      web:
        exposure:
          include: "*"